---
const { sectionNames = [] } = Astro.props;
const path = decodeURI(Astro.url.pathname.slice(1));
const location = path.length ? path : "index";
---

<script>
    const header = document.querySelector("header") as HTMLElement;
    let headerActive = false;
    header.onclick = function() {
        if(headerActive) {
            header.classList.add("translate-y-[calc(150px-100%)]")
        } else {
            header.classList.remove("translate-y-[calc(150px-100%)]")
        }
        headerActive = !headerActive
    }
    const sections = document.querySelectorAll(
        "section"
    ) as NodeListOf<HTMLElement>;
    const links = document.querySelectorAll(
        "#section-links a"
    ) as NodeListOf<HTMLElement>;
    links.forEach(function (link, index) {
        link.onclick = function (e) {
            e.preventDefault();
            sections[index].scrollIntoView({ behavior: "smooth" });
        };
    });
    function scrollHandler() {
        const scrollTop = document.documentElement.scrollTop;
        let active = links.length - 1;
        links.forEach(function (link, index) {
            if (
                index > active ||
                (index < active && sections[index + 1].offsetTop < scrollTop + 500)
            ) {
                link.classList.remove("text-red");
            } else {
                active = index;
                link.classList.add("text-red");
            }
        });
        // if(active === Infinity) {
        //     links.at(-1).classList.add("text-red")
        // }
    }
    (window.onscroll = scrollHandler)();
</script>
<header class="pt-4 fixed top-0 w-screen bg-white fixed transition-transform translate-y-[calc(150px-100%)] lg:translate-y-0 lg:bg-transparent">
<div class="grid top-4 left-4 grid-cols-2 w-80">
    <a class="col-start-2 text-xl text-red" href="/">Raphael Reichl</a>
    <h1 class="col-start-2 underline text-l text-red font-ocr-t">{location}</h1>
    <nav class="mr-4 text-right text-beige">
        <a href="/works">works</a>
        <a class="mt-1" href="/collaborations">collaborations</a>
        <a class="mt-1" href="/editorial design">editorial design</a>
        <a class="mt-1" href="/biography">biography</a>
    </nav>
    <nav class="pt-2 pb-4 pl-4 mt-2 border-l min-h-32" id="section-links">
        {
            sectionNames.map(([id, name]: [string, string]) => (
                <a class="mt-1" href={`#${id}`}>
                    {name}
                </a>
            ))
        }
    </nav>
    <svg class="block mt-4 ml-8 w-full h-36 text-beige lg:h-48 lg:-mt-4">
        <use href="illustration.svg#outline"></use>
    </svg>
</div>
</header>

<!-- <header class="grid top-4 left-4 grid-cols-2 w-80 lg:fixed">
    <a class="col-start-2 text-xl text-red" href="/">Raphael Reichl</a>
    <h1 class="col-start-2 underline text-l text-red font-ocr-t">{location}</h1>
    <nav class="mr-4 text-right text-beige">
        <a href="/works">works</a>
        <a class="mt-1" href="/collaborations">collaborations</a>
        <a class="mt-1" href="/editorial design">editorial design</a>
        <a class="mt-1" href="/biography">biography</a>
    </nav>
    <nav class="pt-2 pb-4 pl-4 mt-2 border-l min-h-32" id="section-links">
        {
            sectionNames.map(([id, name]: [string, string]) => (
                <a class="mt-1" href={`#${id}`}>
                    {name}
                </a>
            ))
        }
    </nav>
    <svg class="block -mt-4 ml-8 w-full h-48 text-beige">
        <use href="illustration.svg#outline"></use>
    </svg>
</header> -->
