---
import Header from "../components/Header.astro";
const {
    title = "Raphael Reichl",
    description = "Artist and filmmaker Raphael Reichl, based in Vienna / Mexico City.",
    lang = true,
    sectionNames,
} = Astro.props;
---

<!DOCTYPE html>
<html class="scroll-smooth scroll-pt-24 lg:scroll-pt-0" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <title>{title}</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body>
        <Header sectionNames={sectionNames} lang={lang} />
        <main class="mx-5 mt-24 mb-64 max-w-5xl lg:mx-20 lg:w-1/2 lg:ml-96 xl:ml-128">
            {
                lang && (
                    <div class="hidden fixed right-5 top-16 z-10 text-right lg:block lg:-mb-4 lg:-mr-12 lg:top-24 lg:sticky lg:top-4 font-ocr-t text-l text-red">
                        <button class="underline btn-lang-en" disabled>
                            en
                        </button>
                        &nbsp;/&nbsp;
                        <button class="btn-lang-de">de</button>
                    </div>
                )
            }
            <slot />
        </main>
        <footer
            class="pt-2 mx-20 mb-64 border-t lg:w-1/2 lg:ml-96 xl:ml-128 border-beige"
        >
            <p class="text-s text-beige">Raphael Reichl, artist and filmmaker based in Vienna / Mexico City</p>
        </footer>
        <style is:global>
            @font-face {
                font-family: "ChaparralPro";
                src: url("/fonts/ChaparralPro-Regular.otf") format("opentype");
            }
            @font-face {
                font-family: "ChaparralPro";
                src: url("/fonts/ChaparralPro-Bold.otf") format("opentype");
                font-weight: bold;
            }
            @font-face {
                font-family: "ChaparralPro";
                src: url("/fonts/ChaparralPro-LightItalic.otf")
                    format("opentype");
                font-style: italic;
            }
            @font-face {
                font-family: "OcrT";
                src: url("/fonts/OcrT.otf") format("opentype");
            }
            body {
                font-family: "ChaparralPro";
                font-size: 13px;
            }
            a {
                display: block;
            }
        </style>
    </body>
</html>
